<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>PEONHQ - WebGL Runner</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/index.css" type="text/css" />
</head>

<body>
    <!-- A canvas for the engine, this will be resized if needed -->
    <button id="gameButton">Play</button>

    <!-- Penultimately the compilation result of my .TS files-->

    <!-- Finally the invocation of the game load -->
    <script>
        document.getElementById("gameButton").onclick = function () {
            window.location.href = "/play";
        }
    </script>
</body>
</html>