<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>PEONHQ - WebGL Runner</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/index.css" type="text/css" />
    <script src="/scripts/Lib/jquery-2.1.1.min.js"></script>
    <script src="/scripts/Lib/angular.min.js"></script>
    <script src="/scripts/angularModules.js"></script>
</head>

<body ng-app="rr" ng-controller="loginController">
    <form id="loginForm" action="/play" method="POST">
        <div class="inputgroup">
            <input ng-model="name" name="name" type="text" class="input {{nameEdited?'playerName':'placeholderText'}}" ng-click="nameClicked()" />
            <div class="characterCard">
                <div class="a-{{char.characterId}} avatar {{char.characterId==character.characterId?'':'grayscale'}}" ng-repeat="char in characters" ng-click="select(char.characterId)"></div>
            </div>
            <div id="descriptionBox">
                <input type="hidden" name="character" value="{{character.characterId}}" />
                <div class="playerName">{{character.name}}</div>
                <div class="characterDescription">{{character.description}}</div>
            </div>
        </div>
        <div class="inputgroup {{urlEdited&&url?'hide':''}}">
            <div class="selectButton" id="playButton" ng-click="create()">Create game</div>
        </div>
        <div class="inputgroup">
            <input ng-model="url" style="font-size:large" type="text" class="input {{urlEdited?'playerName':'placeholderText'}}" ng-click="urlClicked()" />
            <div class="selectButton" ng-click="join()">Join game!</div>
        </div>
    </form>
</body>
</html>