<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>PEONHQ - WebGL Runner</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/css/play.css" type="text/css" />
    <link rel="stylesheet" href="/css/avatars.css" type="text/css" />

    <script type="text/javascript" src="/scripts/Lib/angular.min.js"></script>
    <script type="text/javascript" src="/scripts/Lib/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/scripts/angularModules.js"></script>
</head>

<body ng-app="playModule">
    <!-- A canvas for the engine, this will be resized if needed -->
    <div id="messagesContainer">
        <div ng-repeat="msg in messages" class="message {{msg.klass}}">{{msg.text}}</div>
    </div>
    <div id="doormat" ng-controller="doormatController">
        <div class="playerContainer">
            <h3>Share this URL with a friend to play:</h3>
            <h2 id="gameUrl">{{gameUrl}}</h2>
            <h3 id="player1" class="{{player.isReady?'ready':'notReady'}}">You: {{player.name}}</h3>
            <h3 id="player2" class="{{enemy.isReady?'ready':'notReady'}}">Opponent: {{enemy.name}}</h3>
        </div>
        <button id="readyButton" ng-click="readyButtonClick()" class="{{player.isReady?'ready':'notReady'}}">{{readyButtonCaption}}</button>
    </div>
    <div class="mainwrapper" ng-controller="pointsController">
        <div id="player1Avatar" class="playerbox">
            <div class="avatar a-{{player.character}}"></div>
            <div>
                <div class="playerName">{{player.name}}</div>
                <div>{{player.points}} points</div>
            </div>
        </div>
        <div id="player2Avatar" class="playerbox">
            <div class="avatar a-{{enemy.character}}"></div>
            <div>
                <div class="playerName">{{enemy.name}}</div>
                <div>{{enemy.points}} points</div>
            </div>
        </div>
        <canvas id="mainCanvas" width="600" height="800"></canvas>
    </div>
    <!-- Include all the third party stuff -->
    <script type="text/javascript" src="/scripts/Lib/dat.gui.js"></script>
    <script type="text/javascript" src="/scripts/Lib/socket.io-1.2.0.js"></script>
    <script type="text/javascript" src="/scripts/Lib/babylon.1.14-dbg.js"></script>
    <script type="text/javascript" src="/scripts/Lib/StackBlur.js"></script>

    <!-- Penultimately the compilation result of my .TS files-->
    <script type="text/javascript" src="/scripts/Lib/compiled.js"></script>

    <!-- Finally the invocation of the game load -->
    <script>
        (function (params) {
            var socket = window.socket =  new io(<%- "'" + "/"+gameId + "'" %>);
            var game = window.game =  new GAME.GameWorld("mainCanvas", params, socket, "hard");

            var myName = params.gameParameters.name;

            // allow to load angular modules before starting
            setTimeout(function(){
                game.Load(params);
            },0);
        })(<%- JSON.stringify({mapParameters:mapParams,gameParameters:gameParams}) %>);
    </script>
</body>
</html>